.content {
    max-width: 300px;
    margin: auto;
}
.search-input {
    position: relative;
    display: flex;
    align-items: center;
}
.user-input {
    padding: 13px;
    width: 100%;
}
.cross-icon {
    position: absolute;
    right: 10px;
}
.suggestion {
    margin-top: 13px;
    padding: 13px;
    border: 1px solid black;
}
.suggestion:hover {
    cursor: pointer;
    background: #c9cece5d;
    transition: all 0.4s ease 0s;
}

